{% extends "index.html" %}
{% block title %}
	Sign Up
{% endblock title %}

{% block content %}
	<div class="row row-margin center">
		<div class="col col-12 heading">
			<h2>Register</h2>
		</div>
	</div>

	<form action="/signup_confirmation" method="POST">
		<div class="form-group row">
			<label for="fname-id" class="col-sm-3 col-form-label text-sm-right">First Name:</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="fname-id" name="user_fname">
				<small class="form-text text-danger hidden">
					You must type in a valid first name
				</small>
			</div>
		</div>
		<div class="form-group row">
			<label for="lname-id" class="col-sm-3 col-form-label text-sm-right">Last Name:</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="lname-id" name="user_lname">
				<small class="form-text text-danger hidden">
					You must type in a valid last name
				</small>
			</div>
		</div>
		<div class="form-group row">
			<label for="email-id" class="col-sm-3 col-form-label text-sm-right">Email:</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="email-id" name="user_email">
				<small class="form-text text-danger hidden">
					You must type in a valid email
				</small>
			</div>
		</div>
		<div class="form-group row">
			<label for="name-id" class="col-sm-3 col-form-label text-sm-right">User Name:</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="name-id" name="user_name">
				<small class="form-text text-danger hidden">
					You must type in a valid user name
				</small>
			</div>
		</div>
		<div class="form-group row">
			<label for="pw-id" class="col-sm-3 col-form-label text-sm-right">Password:</label>
			<div class="col-sm-6">
				<input type="password" class="form-control" id="pw-id" name="user_password">
				<small class="form-text text-danger hidden">
					Your password must be at least 7 characters
				</small>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-3"></div>
			<div class="col-sm-9 mt-2">
				<button type="submit" class="btn btn-color rounded-0">SIGN UP</button>
			</div>
		</div>
	</form>
{% endblock content %}
{% block js %}
	<script src="/static/signup.js"></script>
{% endblock js %}